header {
  display: block;
  background-color: #005291;
  width: 100%;
  height: 50px;
  color: white;
}

#headerButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:local(.navButton) {
  float: right;
}

footer {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #005291;
  color: white;
  bottom: 0;
  height: 50px;
}

:local(.me) {
  border-radius: 50%;
  height: 30vh;
  width: 18vw;
}

:local(.mn) {
   list-style-type: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 !important;
}
