header {
  display: block;
  background-color: #005291;
  width: 100%;
  height: 50px;
  color: white;
}

#headerButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:local(.navButton) {
  float: right;
}

footer {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #005291;
  color: white;
}

:local(.me) {
  border-radius: 50%;
  height: 30vh;
  width: 18vw;
}
