.header {
    background-color: #53A0B8;
    display: grid;
    grid-template-columns: 50vw 50vw; 
    margin-bottom: 1.45rem;
    grid-template-rows: auto;
    grid-template-areas: 
    'text .'
    '. navbar';
}
.text {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.headerText {
    margin: 0 auto;
    max-width: 960;
    grid-area: text;
    padding: 2vh 0vh 0vh 0vh;
}

.link {
    color: #E1E1E1;
    text-decoration: none;
}

.navbar { 
    grid-area: navbar;
}

.bar {
    display: flex;
    flex-direction: row;
}

.item {
    list-style-type: none;
}


